@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@theme {
  --color-dark-theme: hsl(220, 51%, 30%);
  --bg-dark-theme: hsl(46, 82%, 50%);

  --color-white-theme: hsl(220, 51%, 10%);
  --bg-white-theme: hsl(46, 82%, 90%);

  --accent-dark-theme: hsl(46, 82%, 50%);
  --accent-white-theme: hsl(46, 82%, 90%);
}
:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-color: hsl(46, 82%, 90%);
  color: hsl(220, 51%, 10%);
  color-scheme: light;
}

body.dark {
  background-color: hsl(46, 82%, 50%);
  color: hsl(220, 51%, 30%);
  color-scheme: dark;
}
