@import 'tailwindcss';

@theme {
  --color-light: hsl(220, 51%, 30%);
  --color-dark: hsl(220, 51%, 20%);

  --color-light-alt: hsl(46, 82%, 90%);
  --color-dark-alt: hsl(46, 82%, 50%);
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  font-weight: 400;

  color-scheme: light dark;

  /* --color-light: hsl(220, 51%, 30%); */
  /* --background-light: hsl(46, 82%, 90%); */
  /**/
  /* --color-dark: hsl(220, 51%, 20%); */
  /* --background-dark: hsl(46, 82%, 50%); */
  /**/
  /* color: var(--color-light); */
  /* background-color: var(--background-light); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
